.container {
  display: flex;
  width: 350px;
  border: 1px solid rgb(214, 212, 212);
  flex-direction: column;
  margin: auto;
}

.container>* {
  height: 36px;
  margin: 0 30px 23px;
}

.line > div{
  display: inline-block;
  height: 1px;
  background-color: rgb(214, 212, 212);
  width: 130px;
}

.container>input{
  border: 1px solid rgb(214, 212, 212);
}

.imageContainer {
  height: 53px;
  width: 287px;
  margin-top: 49px;
  background-image: url('https://static.cdninstagram.com/rsrc.php/v3/yS/r/ajlEU-wEDyo.png');
  background-position: 59px -51px;
  background-repeat: no-repeat;
}

.paraHeader {
  color: #6b6b6b;
  font-weight: 600;
  text-align: center;
}

.para{
  color: rgb(105 105 105 / 98%);
  font-size: 12px;
  text-align: center;
}